  legend {margin-bottom:10px !important;}    
  
  legend, .form-group {
    /*margin-bottom:0 !important;*/
  }   
  
  #four_a_form > bootstrap-decorator > fieldset > sf-decorator > fieldset, 
  #four_a_form * sf-decorator > div,
  #veris_form > bootstrap-decorator > fieldset {
    /*background:#dfdfdf;*/
    margin-top: 2px;
  } 
 
/*  
  #veris_form > bootstrap-decorator > fieldset > sf-decorator > fieldset > legend {
    background:#F2F2F2;
    font-size:14px;
    margin-bottom:0 !important;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:20px;
    border:1px solid #dfdfdf;
  }
*/


  #veris_form > bootstrap-decorator > fieldset > sf-decorator > fieldset {
    width:94% !important;
    margin-left:25px;
    margin-bottom:1px;
  } 
  
  #veris_form > bootstrap-decorator > fieldset > sf-decorator > fieldset > legend:hover {
    cursor:pointer; 
  }
  
  #veris_form > bootstrap-decorator > fieldset > sf-decorator > fieldset > sf-decorator,
  #veris_form > bootstrap-decorator > fieldset > sf-decorator > fieldset > sf-decorator > div {
    padding-left:15px;
  }
  
  #four_a_form > sf-decorator > div > ul > li {
    background:#dfdfdf !important;    
  }
  
  #four_a_form > bootstrap-decorator > fieldset > sf-decorator > fieldset > sf-decorator > div {
    width:95% !important;
    margin-left:20px;
  }
  
  #four_a_form > bootstrap-decorator > fieldset > sf-decorator > fieldset > sf-decorator {
    padding-left:10px;
  } 
  
  #four_a_form > bootstrap-decorator > fieldset > sf-decorator > fieldset > sf-decorator:last-child {
    margin-bottom:10px;
  } 
  
  #four_a_form > bootstrap-decorator > fieldset > sf-decorator > div > label {
    width:100% !important;
  }
  
  #four_a_form > bootstrap-decorator > fieldset > sf-decorator > fieldset > legend, 
  #four_a_form > bootstrap-decorator > fieldset > sf-decorator > div > h3, 
  #four_a_form > bootstrap-decorator > fieldset > sf-decorator > div > label,
  #veris_form > bootstrap-decorator > fieldset > legend,
  #veris_form > bootstrap-decorator > div > h3,
  #veris_form > bootstrap-decorator > fieldset > sf-decorator > fieldset > legend {
    background:#dfdfdf;
    font-size:16px;
    padding-top:7px;
    padding-bottom:7px;
    padding-left:5px;
    border-radius: 3px 3px 0 0;
    margin-top:0 !important;
    margin-bottom:0 !important;
    color:#357ebd !important;
    font-weight: bold;
  } 
  
  #veris_form > bootstrap-decorator > fieldset > sf-decorator > fieldset > legend {
    background:#F2F2F2;
  }
  
  #four_a_form > bootstrap-decorator > fieldset > sf-decorator > div > h3 {
    padding-top:10px !important;
    padding-bottom:10px !important;
  }  
  
  #four_a_form > bootstrap-decorator > fieldset > sf-decorator > fieldset > legend:hover, 
  #four_a_form > bootstrap-decorator > fieldset > sf-decorator > div > h3:hover, 
  #four_a_form > bootstrap-decorator > fieldset > sf-decorator > div > label:hover,
  #veris_form > bootstrap-decorator > fieldset > legend:hover {
    cursor:pointer;
  } 
  
  .form-control {
    width:95% !important;
  }  
  
  #veris_form > bootstrap-decorator > fieldset > legend {
    margin-bottom:1px !important;
  }       