.navbar-brand {
  height: 100px !important;
  padding-top: 8px !important;
}
.test {
	padding:5px;
}

  .loading-spinner-holder {
    background:rgba(0,0,0,0.1);
    display:none;
    width:100%; height:100%;
    position:absolute; top:0; left:0; z-index:99998;
  }

  .loading-spinner {
  	width: 300px;
	position:absolute;
	left:39%;
	top:40%;
	z-index:9999;
	font-size:23px;
  }
  
.navbar-brand {
  height: 100px !important;
  padding-top: 8px !important;
}  

.sidebar { top:83px !important; }

  #subnavigation {
    top:100px !important;
    background:#dfdfdf;
    position:fixed;
    z-index: 1000;
    width:100%;
    padding-bottom: 6px;
    padding-left: 21px;
    padding-top: 8px; 
    font-size:21px;   
  }  
  
  .main {
    margin-top:40px !important;
    padding-left:0 !important;
    padding-right:20px !important;
  } 
  
  .flush-left {
    margin-left:16.7% !important;
  }  
  
  #view_main_content {
    padding-left:20px;
    margin-top:38px;
  }
  
  .non-sort {
    cursor:default !important;
  }
  
  #list-incidents-table tr:hover {
    cursor:pointer !important;
  }
  
  .nav-tabs > li > a {
    border-color:#eee #eee #ddd;
    border-width:1px;
  }
  
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background:#eee;
  }
  
  .nav-tabs > li > a:hover {
    background:none repeat scroll 0 0 #dfdfdf !important;
  }
  
  /* Sorting table header */
  .sort-true {
    background:url("/images/icons/asc-sort.jpg") no-repeat scroll right center rgba(0, 0, 0, 0);
    background-position: 99% 46% !important; 
  }
  .sort-false {
    background:url("/images/icons/desc-sort.jpg") no-repeat scroll right center rgba(0, 0, 0, 0);
    background-position: 99% 46% !important;
  } 
  
  .accordion-close {
    background-position:-32px -16px;
    background:url("/images/icons/ui-icons_888888_256x240.png") no-repeat rgba(0, 0, 0, 0);
  }
  
  .accordion-open {
    background-position:-64px -16px;
    background:url("/images/icons/ui-icons_888888_256x240.png") no-repeat rgba(0, 0, 0, 0);
  } 
  
  ul.nav-tabs {
    position:fixed;
    top:150px;
    width:100% !important;
    background:#fff !important;
    z-index:9999;
  }