.navbar-brand {
  height: 100px !important;
  padding-top: 8px !important;
}
.test {
	padding:5px;
}

  .loading-spinner-holder {
    background:rgba(0,0,0,0.1);
    display:none;
    width:100%; height:100%;
    position:absolute; top:0; left:0; z-index:99998;
  }

  .loading-spinner {
  	width: 300px;
	position:absolute;
	left:39%;
	top:40%;
	z-index:9999;
	font-size:23px;
  }
  
.navbar-brand {
  height: 100px !important;
  padding-top: 8px !important;
}  

.sidebar { top:83px !important; }

  #subnavigation {
    top:100px !important;
    background:#dfdfdf;
    position:fixed;
    z-index: 1000;
    width:100%;
    padding-bottom: 6px;
    padding-left: 21px;
    padding-top: 8px; 
    font-size:21px;   
  }  
  
  .main {
    margin-top:40px !important;
    padding-left:0 !important;
    padding-right:20px !important;
  } 
  
  .flush-left {
    margin-left:16.7% !important;
  }  
  
  #view_main_content {
    padding-left:20px;
    margin-top:38px;
  }
  
  .non-sort {
    cursor:default !important;
  }
  
  #list-reviews-table tr:hover {
    cursor:pointer !important;
  }
  
  /* Sorting table header */
  .sort-true {
    background:url("/images/icons/asc-sort.jpg") no-repeat scroll right center rgba(0, 0, 0, 0);
    background-position: 99% 46% !important; 
  }
  .sort-false {
    background:url("/images/icons/desc-sort.jpg") no-repeat scroll right center rgba(0, 0, 0, 0);
    background-position: 99% 46% !important;
  } 
  
  ul.nav-tabs {
    position:fixed;
    top:150px;
    width:100% !important;
    background:#fff !important;
    z-index:9999;
  }
  
#list-reviews-table {
	width:100%;
	color:#555555;
}

#review_filter_text {
	color:#555555;
	font-weight:bold;
	padding-bottom:10px;
}

#review_filter_text input {
	margin-left:10px;
	margin-top:7px;
}

#list-reviews-table .even {
	background:#F2F2F2;
}

#list-reviews-table tbody tr:hover {
	background:#DFDFDF;
}

.bordered_table, .bordered_table th, .bordered_table td {
	border:1px solid #D4D4D4;
	padding:1px;
}

.bordered_table .pad-left {
	padding-left:15px;
}

body {
    padding-top: 75px !important;
}

.center {
  text-align:center;
}

.list-group-item:hover { cursor:pointer; }

.row {
  margin-top:20px;
}

th:hover { cursor:pointer; }  