<style type="text/css">    
  .row { margin-top:20px; }  
  body { padding-top: 75px !important; }   
</style>

<pre>
	Current Review: {{ review | json }}
</pre>

<div id="view_content">

	<div id="subnavigation" class="subnav">
		<a ng-href="#/reviews">Reviews</a> > New Review                     
	</div>    

	<div id="view_main_content">
		<form novalidate class="simple-form">
			<table>
				<tr>
					<td>Name of this beer:&nbsp;</td>
					<td><input type="text" class="form-control" ng-model="review.beer_name" /></td>
				</tr>
				<tr><td colspan="2">&nbsp;</td></tr>
				<tr>
					<td>Manufacturer:</td>
					<td><input type="text" class="form-control" ng-model="review.maker" /></td>
				</tr>
				<tr><td colspan="2">&nbsp;</td></tr>
				<tr>
					<td>Drink again?:</td>
					<td><input type="checkbox" ng-model="review.drink_again"></td>
				</tr>
				<tr><td colspan="2">&nbsp;</td></tr>
				<tr>
					<td>Rating:</td>
					<td>
						<span>{{review.rating}} out of {{max_rating}}
						<div star-rating rating-value="rating.current" max="max_rating" on-rating-selected="getSelectedRating(rating)">
							<ul class="rating">
								<li ng-repeat="star in stars" ng-class="star" ng-click="toggleRating($index)">&#9734;</li>
							</ul>
						</div>
						</span>					
					</td>
				</tr>	
				<tr><td colspan="2">&nbsp;</td></tr>
				<tr>
					<td>Comments:</td>
					<td><textarea ng-model="review.comments" cols="50" /></textarea></td>
				</tr>       			
			</table>
			<br>
			<button class="btn btn-default btn-sm" ng-click="saveReview()">Save</button>	
		</form>     
	</div>

</div>
