<div id="view_content">
  <div id="subnavigation" class="subnav">
    Reviews                     
  </div>         
  
  <div id="view_main_content">
    <a style="width:205px;" class="list-group-item" ng-class="{active: review.selected}" ng-href="#/create-new-review">Create a New Review</a>
    
    <br>
    
    <div id="review_filter_text">
    	Filter: <input type="text" ng-model="searchReviews.$">
    </div>
    
    <br>   
       
    <table id="list-reviews-table" class="bordered_table">
    	<thead>
    		<tr>
    			<th width="350" ng-click="changeSorting('review.beer_name')" ng:class="selectedCls('review.beer_name')" class="pad-left">Name</th>
    			<th width="200" class="pad-left" ng-click="changeSorting('review.maker')" ng:class="selectedCls('review.maker')">Manufacturer</th>
    			<th class="center" width="335" ng-click="changeSorting('review.rating')" ng:class="selectedCls('review.rating')" class="pad-left non-sort">Rating</th>
    			<th colspan="2">&nbsp;</th>
    		</tr>
    	</thead>
    	<tbody>
        <tr ng-repeat="review in reviews | filter:searchReviews | orderBy:sort.column:sort.descending"" ng-class="{even: !($index % 2), odd: ($index % 2)}" ng-dblclick="showReviewDetail(review.id)">
    			<td class="pad-left">{{review.beer_name}}</td>
          <td class="pad-left">{{review.maker}}</td>
    			<td class="center">{{review.rating}}</td>
    			<td><a class="list-group-item center" ng-class="{active: review.selected}" ng-click="showReviewDetail(review.id)">Edit</a></td>
    			<td><div class="list-group-item center" ng-click="deleteReview(review.id)"><img src="/images/icons/delete_icon_red.jpg" /></a></div>
    		</tr>
    	</tbody>
    </table>
  
  </div>

</div>
